{% extends 'base.html' %}
{% block title %}
    云花朵
{% endblock %}

{% block head %}
    关于
{% endblock %}

{% block main %}
    <div class="col-xs-12 col-sm-8" style="width:750px">
      <td class="main" valign="top"><div class="page"><div class="title">关于我们</div><div class="content"><p><b>我们的团队</b></p>
<p>我们是厦门大学嘉庚学院17计算机的三位学生。</p>
<br>
  <h2>项目介绍</h2>

  <p>功能：用户可以进行登录注册，首页有五种花朵的一些简介，在识别花朵这块，通过上传图片可以来预测花朵种类并语音汇报识别情况，结果会显示在下发的文本框。此外我们可以看到花朵显示图片预测过的结果。
    意义：面对现在对于识别日益需要的世界和人工智能时代的到来，智能的识别花朵可以让人们可以对图片中的花朵进行更好的分类，更好的去监控花朵的培育情况等。</p>


  <h2>项目愿景</h2>

  <p>通过这个项目构建的过程中，我们对于一个项目实施的过程有了切实的更进一步的了解，在这过程中，体会到了程序设计的艰辛，面对实现功能中遇到的错误，我们会检查项目中有待完善的不足，我们也希望通过我们的努力将这个项目展示出来并且做得越来越好。</p></div></div></td>
    </div>
{% endblock %}