{% extends 'base.html' %}
{% block title %}
    云花朵
{% endblock %}

{% block head %}
    结果报告
{% endblock %}

{% block main %}

{% if history %}
<div align="center" style="position: absolute; margin: auto;left: 0; right: 0;top: 0;bottom: 0;width: 300px;height: 500px;">
    <img style="max-width:300px;width: 100%;height: auto" src="{{ url_for('static',filename=image_url ,_t=val1) }}">
    <p class="text-center" style="color: black">{{history.time|datetime_format}}</p>
    <div style="border: #eeeeee;width: auto;height: auto" class="text-center">
        <textarea disabled id="text1" class="xplay" style="color: black" rows="5" cols="30" >{{history.result}}</textarea>
    </div>
    <a href="{{ url_for('download', history_id=history.history_id)}}"><button class="btn btn-info">下载</button></a>
</div>
<script>
    var mess = document.getElementById('text1').value;
</script>
{% else %}
<div align="center" style="position: absolute; margin: auto;left: 0; right: 0;top: 0;bottom: 0;width: 300px;height: 500px;">
    <img style="max-width:300px;width: 100%;height: auto" src="{{ url_for('static',filename=image_url,_t=val1) }}">
    <p class="text-center" style="color: black">{{time|datetime_format}}</p>
    <div style="border: #eeeeee;width: auto;height: auto" class="text-center">
        <textarea disabled id="text2" class="xplay" style="color: black" rows="5" cols="30" >{{result}}</textarea>
    </div>
</div>
<script>
    var mess = document.getElementById('text2').value;
</script>
{% endif %}
<audio id="tts"></audio>
<script>
    var srcAddress="http://tts.baidu.com/text2audio?lan=zh&ie=UTF-8&spd=2&text="
    var i=0;
    var ttsAudio = document.getElementById('tts');
    ttsAudio.playbackRate = 2;
    // var ttText = document.getElementById('text2').value;
    ttsAudio.src = srcAddress +mess;
    ttsAudio.play();
</script>
{% endblock %}
