{% extends 'base.html' %}
{% block title %}
    云花朵
{% endblock %}

{% block head %}
    修改密码
{% endblock %}

{% block main %}
<div>
    <form action = "{{ url_for('register') }}" method = "POST">
         用户名<br>
         <input type = "text" name = "username" placeholder="用户名/邮箱" /><br>
         新密码<br>
         <input type="password" name = "password" placeholder="在此处输入新密码"/><br>
         <input type = "submit" value = "修改" onclick="alert('确认修改?')" />
      </form>
</div>
{% endblock %}